<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>Please sign in</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" rel="stylesheet">
    <link crossorigin="anonymous" href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet">
</head>
<body>
<h1>Successfully logged in</h1><br>
<h2>This is a course page</h2>
<div class="container">
    <form action="/logout" class="form-singout" method="get">
        <button class="btn btn-primary btn-block" type="submit">Logout</button>
    </form>
</div>
<object data-extension-version="0.5.0.109" data-supports-flavor-configuration="true" id="__symantecPKIClientMessenger"
        style="display: none;"></object>
<span id="__symantecPKIClientDetector" style="display: none;">__PRESENT</span></body>
</html>



